includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  implicitThrows: false
  paths:
    - user-switching.php
  bootstrapFiles:
    - tests/stubs.php
  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
    # Covers the breaks after exits in user_switching::action_init()
    -
      message: '#^Unreachable statement#'
      path: user-switching.php
      count: 3
