# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Nightly Tests
on:
  schedule:
    # Once weekly on Mondays at 04:00 UTC.
    #
    #        ┌───────────── minute           (0 - 59)
    #        │  ┌────────── hour             (0 - 23)
    #        │  │  ┌─────── day of the month (1 - 31)
    #        │  │  │  ┌──── month            (1 - 12 or JAN-DEC)
    #        │  │  │  │  ┌─ day of the week  (0 - 6 or SUN-SAT)
    #        │  │  │  │  │
    #        │  │  │  │  │
    #        │  │  │  │  │
    - cron: '0  4  *  *  1'
  push:
    branches:
      - 'develop'
    paths:
      - '.github/workflows/nightly-tests.yml'
  workflow_dispatch:

jobs:
  acceptance:
    name: Nightly acceptance
    strategy:
      matrix:
        php:
          - '8.3'
          - '7.4'
      fail-fast: false
    uses: johnbillion/plugin-infrastructure/.github/workflows/reusable-acceptance-tests.yml@trunk
    with:
      wp: 'nightly'
      php: ${{ matrix.php }}
      node: false
  integration:
    name: Nightly integration
    uses: johnbillion/plugin-infrastructure/.github/workflows/reusable-integration-tests.yml@trunk
    strategy:
      matrix:
        php:
          - '8.3'
          - '7.4'
      fail-fast: false
    with:
      wp: 'nightly'
      php: ${{ matrix.php }}
      node: false
