# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Integration Tests
on:
  push:
    branches:
      - 'develop'
      - 'trunk'
      - 'master'
  pull_request:
    branches:
      - '**'
  # Once weekly on Wednesdays at 05:00 UTC.
  schedule:
    - cron: '0 5 * * 3'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        php: ['8.2','7.4','5.6']
        wp: ['latest', 'nightly']
        include:
          # Oldest version that passes the `$token` parameter to session actions:
          - php: '7.2'
            wp: '4.9'
      fail-fast: false
    name: "WP ${{ matrix.wp }} / PHP ${{ matrix.php }}"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Get Composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Composer cache
      uses: actions/cache@v2
      env:
        cache-name: cache-composer-dependencies
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: mysqli, xmlwriter
        coverage: none
        ini-file: development
      env:
        fail-fast: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Debugging
      run: |
        php --version
        php -m
        composer --version
        mysql --version

    - name: Install dependencies
      run: |
        sudo systemctl start mysql.service
        composer remove \
          "phpstan/*" \
          szepeviktor/phpstan-wordpress \
          --dev
        composer require --dev --update-with-dependencies --prefer-dist \
          roots/wordpress-full="${{ matrix.wp == 'latest' && '*' || (matrix.wp == 'nightly' && 'dev-main' || format('~{0}.0', matrix.wp)) }}"
        mysqladmin -uroot -proot create wordpress_test

    - name: Run the tests
      run: composer test:integration
